/* body ,head direto */
/* # titulo, subtiulo */
/* .name DIV */

*{
    margin: 0;
    padding:0;
}
#titulo{
    font-family: sans-serif;
    color: rgb(7,7,7); 
    text-align: center;
}
 #subtitulo{
    font-family: sans-serif;
    color: rgb(7,7,7);
text-align: center;
}
    

body{
    background-color: rgb(33, 150, 111);
    font-family: sans-serif;
    font-size: 1em;
    justify-content: center;

 
}
input ,select,textarea,button,textarea{
    border-radius: 1em;
}
.cabecalho{
    border-style: solid;
    text-align: center;
}
.imagem{
    border-style: solid;
    text-align: center;
}
.principal{
    border-style: solid;
    text-align: center;
    margin: 0 auto;
    width: 50%; 
}
.titulo{
    border-style(1,4);
    text-align: center;
}
.formulario{
    border-style(1,4);
    text-align: center;
}
.botao{
    border-style(1,4);
    text-align: center;
}
.rodape{
    border-style: solid;
    text-align: center;
    align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}